.center {
  text-align: center;
  margin: auto;
}

body{
  /* background-image: url("/cactus-wallpaper.png"); */
  background-color: rgb(252, 233, 183);
  background-size: cover;
  background-repeat: repeat;
}

/* ------  Navbar -------  */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(250, 134, 0) ;
  font-size: 1.5em;
}

.logoName{
  color: darkgreen;
  display: inline-block;
}

#logout {
  background: rgb(250, 134, 0) ;
  box-sizing: border-box;
  border-color: rgb(250, 134, 0) ;
  color: darkgreen;
  font-weight: 600;
}

.logoPic {
  width: 15%;
}

.navPic{
  margin-top: 1px;
  width: 4em;
  vertical-align: middle;
  display: inline-block;
}

.nav-link {
 padding: 1.4em;
}

/* ------ Forms and Types ------ */
form {
  padding: 1em;
}
input {
  vertical-align: middle;
  padding: 0.2em;
  font-size: 1em;
  margin: 2px;
}

a {
  padding-top: 1px;
  color: rgb(0, 62, 0);
  text-decoration: none;
  font-weight: 600;
}

a.active {
  color: blue;
}

.delete {
  color: red;
  font-size: 1.2em;
}


/* ------ display layout ------ */
.grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 900px;
}

/* ------ images ------ */

#sadPlant {
  width: 20%;
}

img#happy-cactus {
  height: 260px;
}

.uploaded {
  width: 257px;
}

/* ------ plant card ------ */
.plant-card {
  /* background-color: rgba(205, 133, 63, 0.6); */
  padding-top: 10px;
  padding-bottom: 10px;
}