.center {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: chocolate;
}

input {
  vertical-align: middle;
  padding: 0.5em;
  font-size: 1em;
  margin: 2px;
}

.grid {
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  /* background-color: brown; */
}

.logoName{
  color: rgb(0, 101, 0);
}

a.active {
  color: green;
}