.center {
  text-align: center;
}

/* ------  Navbar -------  */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: chocolate;
  font-size: 1.5em;
}

.logoName{
  color: rgb(0, 101, 0);
}

#logout {
  background: chocolate;
  box-sizing: border-box;
  border-color: chocolate;
}

.logoPic {
  width: 15%;
}

.navPic{
  width: 8%;
  vertical-align: middle;
}

/* ------ Forms and Types ------ */
form {
  padding: 1em;
}
input {
  vertical-align: middle;
  padding: 0.5em;
  font-size: 1em;
  margin: 2px;
}

a {
  padding: 1px;
  color: darkgreen;
  text-decoration: none;
}

a.active {
  color: blue;
}

.delete {
  color: red;
  font-size: 1.2em;
}

/* ------ Misc styling ------ */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

#sadPlant {
  width: 20%;
}
